<h1><%= @student.to_s %></h1>
<% if @student.active==false %>
<p>This student is currently inactive.</p>
<% else %>
<p>This student is currently active.</p>
<% end %>

<%= link_to "Change Active Status", activate_student_path(@student.id) %>
